@import './base.css';

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  margin: 0;
}

.search-box {
  width: 561px;
  height: 44px;
  font-family: 'Arial', sans-serif;
  border-radius: 30px;
  text-align: center;
}

.search-box-results {
  width: 500px;
  height: 30px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  flex-grow: 1;
  text-align: center;
  position: relative; /* 将位置设置为相对定位 */
  margin-bottom: 50px;
}

.search-box-results input[type='text'] {
  width: 100%;
  height: 100%;
  border: none;
  outline: 1px solid rgb(7, 7, 7);
  padding: 1px 50px 1px 52px;
  font-size: 16px;
  border-radius: 22px;
}

.search-box input[type='text'] {
  width: 100%;
  height: 100%;
  border: none;
  outline: 1px solid rgb(7, 7, 7);
  padding: 1px 50px 1px 52px;
  font-size: 16px;
  border-radius: 22px;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  fill: #333; /* 图标颜色 */
}

.search-icon-results {
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  fill: #333; /* 图标颜色 */
}

.search-button {
  position: absolute;
  background-color: #eca32d;
  color: white;
  width: 60px;
  height: 44px;
  border: none;
  border-radius: 50px;
  right: 0px;
  transition: font-weight 0.5s ease;
}

.search-button:hover {
  font-weight: bold; /* 鼠标悬停时改变字体加粗 */
}

.logo-container {
  margin-bottom: 20px;
}

.logo-container-results {
  margin-right: 10px;
  margin-top: 40px; /* 添加上边距，避免顶部超出页面 */
}

.logo {
  position: relative;
  top: 0; 
  left: 0; 
  transform: none;
  width: 200px; 
}

.logo-results {
  position: absolute;
  width: 130px;
  left: -120px;
  top: 0;
  margin-top: -20px; /* 添加上边距，避免顶部超出页面 */
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container-results {
  position: relative;
  margin-top: 80px; /* 添加上边距，避免顶部超出页面 */
}

#titleitem {
  margin-top:10px;
}

.title-div {
  position: relative;
  font-size: 15px;
  margin-bottom: 35px;
  padding: 8px 2px;
  font-weight: bold;
  cursor: pointer;
}

.title-div:hover {
  background-color: #e0e0e0; /* 鼠标悬停时的背景颜色 */
}

.title{
  text-decoration: underline;
}


.tag1,
.tag2 {
  flex: 1;
  font-size: 10px;
  color: #fff;
  padding: 3px 5px;
  border-radius: 5px;
}


.tag1 {
  background-color: skyblue;
  margin-right: 20px;
}

.tag2 {
  background-color: red;
}

.times {
  font-family: "Lucida Handwriting", cursive;
  font-size: 14px;
  color: #999;
  margin-left: 10px;
}
